@keyframes example {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}

body {
  background-image: url("background.jpg");
  margin: auto;
  width: 100rem;
}

body .container {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 3em;
  height: 60rem;
}

body .container .container-box {
  justify-content: center;
  height: 6rem;
  width: 15rem;
  background-color: yellow;
  border: 3px solid green;
}

body .container .container-box #hidden {
  animation-name: example;
  animation-duration: 3s;
}

body .container .container-box p {
  padding: 0.2rem;
}

body .container .container-box p:last-child {
  color: red;
}
