$gutter-width: 100rem;
$gutter-box: 12rem;

body {
  background-image: url("background.jpg");
  margin: auto;

  width: $gutter-width;

  .container {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3em;
    height: 60rem;
    .container-box {
      justify-content: center;
      height: 15rem;
      width: 15rem;
      background-color: yellow;
      border: 3px solid green;
    }
  }
}
